.x-button
    display: inline-block
    border: none
    background: none
    font-size: 1em
    padding: 0 1.6em
    border-radius: 30em
    background-color: #f7f7f7
    min-width 6em
    height: 2.6em
    line-height: 2.6
    margin 0 -3px
    cursor pointer
    *
        margin: 0

    &.is-large
        min-width 10em
    &.is-primary
        background-color: #000
        color: #fff