// Colors
PRIMARY_COLOR = #000
BLUE = #c5dbf2
PINK = #ffebeb
YELLOW = #fffadf
GREEN = #dafff2
BORDER_COLOR = alpha(#000, .26)

// Shadows
DEEP_SHADOW = 0 3px 30px 0 alpha(#000, .09), 0 3px 3px 0 alpha(#000, 0)