.x-box
    display flex

    &.is-justified-between
        justify-content space-between

    &.is-justified-right
        justify-content flex-end


.x-box--child

    &.is-right
        align-self flex-end

    &.is-flex
        flex 1