.x-box
    display flex

    &.is-justified-between
        justify-content space-between

    &.is-justified-right
        justify-content flex-end


.x-box--child

    &.is-right
        align-self flex-end

    &.is-flex
        flex 1


.x-side
    max-width 28rem
    width: 100%
    flex-grow: 1