html
    head
        link(rel="stylesheet", href="/css/verification.css", data-inline)

    body
        p Hello,
        p please click on the link and verify your email
        a(href=verificationLink) Verify