@import './xStyles/_variables'

:root
    --primary-color: PRIMARY_COLOR
    --deep-shadow: DEEP_SHADOW
    --header-height: 3.8rem
    --border-color: BORDER_COLOR

@import './xStyles/_reset'
@import './xStyles/button'
@import './xStyles/link'
@import './xStyles/box'
@import './xStyles/input'
@import './xStyles/search'