@import './xStyles/_variables'

:root
    --primary-color: PRIMARY_COLOR
    --deep-shadow: DEEP_SHADOW

@import './xStyles/_reset'
@import './xStyles/button'
@import './xStyles/link'
@import './xStyles/box'
@import './xStyles/input'